<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/tiny-slider.css" rel="stylesheet">
		<link href="/static/style2.css" rel="stylesheet">
    <link href="/static/style4.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<title>Empire furniture </title>
    <style>
      @media (max-width: 767px) {
          .site-blocks-table {
              overflow-x: auto; 
          }
  
          .table {
              width: 100%; 
          }
      }
  </style>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
                <a class="navbar-brand" href="/home">Empire <span style="color: red;">Furniture</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
					
						<li><a class="nav-link" href="/services">Services</a></li>
						<li><a class="nav-link" href="/blog">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userinfo"><img src="/static/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="/static/cart.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero" style="padding: 10px;">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Cart</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
       
			</div>
		<!-- End Hero Section -->

		
		<div class="untree_co-section before-footer-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                        <% if (errorMessage) { %>
                            <div class="alert alert-warning" role="alert">
                                <%= errorMessage %>
                            </div>
                        <% } %>
        
                        <div class="cart__header text-center mb-4">
                            <h2>Your Shopping Cart</h2>
                        </div>
        
                        <div class="row">
                            <% cartItems.forEach(item => { %>
                                <div class="col-md-6 col-lg-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/static/<%= item.ProductId.productImage[0].filename %>"
                                                alt="<%= item.ProductId.productName %>" class="img-fluid mb-3" style="max-width: 100%;">
                                            <h2 class="h6 text-black"><%= item.ProductId.productName %></h2>
                                            <p>Price: ₹<%= item.ProductId.offerPrice %></p>
                                            <div class="pro-qty-container text-center mb-3">
                                                <button class="pro-qty-button" onclick="changeQuantity('<%= item.ProductId._id %>', -1)"> - </button>
                                                <input class="pro-qty-count" id="<%= item.ProductId._id %>" min="1" max="<%= item.ProductId.productStock %>" value="<%= Math.min(item.Quantity, item.ProductId.productStock) %>" readonly>
                                                <button class="pro-qty-button" onclick="changeQuantity('<%= item.ProductId._id %>', 1)"> + </button>
                                            </div>
                                            <p id="total_<%= item.ProductId._id %>">Total: ₹<%= (item.ProductId.offerPrice * item.Quantity).toFixed(1) %></p>


                                            <button class="deleteItemButton btn btn-link" data-item-id="<%= item._id %>" style="background-color: rgb(152, 9, 9); text-decoration: none;">X</button>

                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
        
                        <div class="text-center mt-4">
                            
                                <h3>Total <span id="totalvalue">₹<span id="displayTotal"><%= totalSum %></span></span></h3>
                            
                        </div>
                    </div>
                </div>
           
        
           
        
     
  
        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              
              <div class="col-md-6">
                <button class="btn btn-outline-black btn-sm btn-block" onclick="window.location='/shop'">Continue Shopping</button>
              </div>
            </div>
           
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                    <strong class="text-black"><strong class="text-black"><span id="totalvalue">₹<span id="displayTotal"><%= totalSum %></span></span></strong></strong>
                  </div>
                  <div class="col-md-6 text-right">
                    
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                    <strong class="text-black"><strong class="text-black"><span id="totalvalue">₹<span id="cartTotal"><%= totalSum %></span></span></strong></strong>
                  </div>
                  <div class="col-md-6 text-right">
                   
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='/checkout'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

		

			<!-- Start Footer Section -->
            <footer class="footer-section">
                <div class="container relative">
    
                    <div class="sofa-img">
                        <img src="/static/sofa.png" alt="Image" class="img-fluid">
                    </div>
    
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="subscription-form">
                                <h3 class="d-flex align-items-center"><span class="me-1"><img src="/static/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>
    
                                <form action="#" class="row g-3">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" placeholder="Enter your name">
                                    </div>
                                    <div class="col-auto">
                                        <input type="email" class="form-control" placeholder="Enter your email">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary">
                                            <span class="fa fa-paper-plane"></span>
                                        </button>
                                    </div>
                                </form>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="row g-5 mb-5">
                        <div class="col-lg-4">
                            <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Empire <span style="color: red;">Furniture</span></a></div>
                            <p class="mb-4">our products are crafted with exceptional materials, ensuring durability and longevity. We take pride in offering modern interior design solutions that not only enhance the aesthetics of any space but also provide utmost comfort and functionality. </p>
    
                            <ul class="list-unstyled custom-social">
                                <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                            </ul>
                        </div>
    
                        <div class="col-lg-8">
                            <div class="row links-wrap">
                                <div class="col-6 col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
    
                                <div class="col-6 col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
    
                                <div class="col-6 col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Payment methods</a></li>
                                        <li><a href="#">Return & Exchange</a></li>
                                    </ul>
                                </div>
    
                            
                            </div>
                        </div>
    
                    </div>
    
                    <div class="border-top copyright">
                        <div class="row pt-4">
                            <div class="col-lg-6">
                                <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
                </p>
                            </div>
    
                            <div class="col-lg-6 text-center text-lg-end">
                                <ul class="list-unstyled d-inline-flex ms-auto">
                                    <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </footer>
            <!-- End Footer Section -->	
    
    
            <script src="/static/bootstrap.bundle.min.js"></script>
            <script src="/static/tiny-slider.js"></script>
            <script src="/static/custom.js"></script>
        </body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
        <script>
        
        
       
        function changeQuantity(productId, increment) {
    var inputElement = document.getElementById(productId);
    var currentValue = parseInt(inputElement.value);
    var newValue = currentValue + increment;
    var max = parseInt(inputElement.getAttribute("max"));

    if (newValue >= 1 && newValue <= max) {
        inputElement.value = newValue;

        if (newValue === max) {
            Swal.fire({
                icon: 'info',
                title: 'Product stock reached',
                text: 'The product stock is at its maximum.',
            });
        }

        fetch('/cartupdation', {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify({
                productId,
                count: increment,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);

            const productTotal = parseFloat(data.productTotals.find(item => item.productId === productId)?.productTotal).toFixed(1);


            document.getElementById('totalvalue').textContent = `₹${data.totalSum}`;
            document.getElementById('displayTotal').textContent = data.totalSum;
            document.getElementById('cartTotal').textContent = data.totalSum;

            document.getElementById(`total_${productId}`).textContent = `Total: ₹${productTotal}`;
        });
    }
}



        
        
        
        
        
        
          $(document).ready(function () {
            $('.deleteItemButton').click(function (event) {
              event.preventDefault();
              const itemId = $(this).data('item-id');
        
              console.log('Deleting item...', itemId);
              $.ajax({
                url: `/deleteCart/${itemId}`,
                type: 'DELETE',
                success: function (response) {
                  console.log('Delete item response:', response);
                  location.reload()
                  if (response.success) {
                    $(`tr[data-item-id="${itemId}"]`).remove();
                  } else {
                    console.error('Failed to delete item from the cart');
                  }
                },
                error: function (error) {
                  console.error('Error while making the delete request', error);
                },
              });
            });
            

  });

  function applyCoupon() {
    const couponCode = document.getElementById('coupon').value;
    fetch('/coupon', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ couponCode }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.valid) {
            if (data.totalAmount >= data.coupons.minimumPrice) {
                const newTotal = data.totalAmount - data.coupons.discount;
                document.getElementById('totalSum').textContent = `₹${newTotal}`;

                Swal.fire({
                    icon: 'success',
                    title: 'Coupon Applied!',
                    text: `Discount: ₹${data.coupons.discount}`,
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Coupon Not Applied',
                    text: `Order total doesn't meet the minimum price requirement of ₹${data.coupons.minimumPrice}`,
                });
            }
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Invalid Coupon',
                text: data.message,
            });
        }
    })
    .catch(error => {
        console.error('Error applying coupon:', error);
    });
}


</script>
        
        
</html>