<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/tiny-slider.css" rel="stylesheet">
		<link href="/static/style2.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- Popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		
		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<title>Empire furniture</title>
        <style>
		
				.order-details {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .order-details p {
        margin: 5px 0;
    }

    .order-details .text-success {
        color: #28a745;
    }

    .order-details .text-danger {
        color: #dc3545;
    }

   
    .product-details {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .product-details h3 {
        color: #007bff;
    }
            .no-orders-message {
        text-align: center;
        font-size: 18px;
        color: #555;
        margin-top: 50px;
    }
    
    .no-orders-message::before {
        content: "\1F625"; 
        font-size: 40px;
        display: block;
        margin-bottom: 20px;
    }
    .order-card {
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .order-header {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .hh-grayBox {
        background-color: #F8F8F8;
        margin-bottom: 20px;
        padding: 35px;
      margin-top: 20px;
    }
    .pt45{padding-top:45px;}
    .order-tracking{
        text-align: center;
        width: 33.33%;
        position: relative;
        display: block;
    }
    .order-tracking .is-complete{
        display: block;
        position: relative;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        border: 0px solid #AFAFAF;
        background-color: #f7be16;
        margin: 0 auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        z-index: 2;
    }
    .order-tracking .is-complete:after {
        display: block;
        position: absolute;
        content: '';
        height: 14px;
        width: 7px;
        top: -2px;
        bottom: 0;
        left: 5px;
        margin: auto 0;
        border: 0px solid #AFAFAF;
        border-width: 0px 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }
    .order-tracking.completed .is-complete{
        border-color: #27aa80;
        border-width: 0px;
        background-color: #27aa80;
    }
    .order-tracking.completed .is-complete:after {
        border-color: #fff;
        border-width: 0px 3px 3px 0;
        width: 7px;
        left: 11px;
        opacity: 1;
    }
    .order-tracking p {
        color: #A4A4A4;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 0;
        line-height: 20px;
    }
    .order-tracking p span{font-size: 14px;}
    .order-tracking.completed p{color: #000;}
    .order-tracking::before {
        content: '';
        display: block;
        height: 3px;
        width: calc(100% - 40px);
        background-color: #f7be16;
        top: 13px;
        position: absolute;
        left: calc(-50% + 20px);
        z-index: 0;
    }
    .order-tracking:first-child:before{display: none;}
    .order-tracking.completed:before{background-color: #27aa80;}
    .order-tracking.completed.cancelled:before{background-color: red;}
    .order-tracking.completed.cancelledd:before{background-color: red;}
    .order-tracking.completed.cancelledd .is-complete {
        border-color: #27aa80;
        border-width: 0px;
        background-color: red; 
    }
    
    
    
        </style>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/home">Empire <span style="color: red;">Furniture</span></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						<li><a class="nav-link" href="/services">Services</a></li>
						<li><a class="nav-link" href="/blog">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userinfo"><img src="/static/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="/static/cart.svg"></a></li>
					</ul>
					<form action="/logout" method="post" class="d-grid">
                        <button type="submit" class="btn btn-warning" style="margin-left: 50px;">Logout</button>
                    </form>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Order details</h1>
								
								
							</div>
							<a href="/download-invoice/<%= order._id %>" class="btn btn-success" download style="margin-bottom: 10px;">
								Download Invoice
							</a>
						</div>
						
					</div>

				</div>
			</div>
		<!-- End Hero Section -->


<div class="container-fluid" style="margin-top: 20px;">

<h2>Order Details</h2>

<p>Order ID: <%= order._id %></p>
<p><% if(order.cancelled===true){%>
	<p>Status:Cancelled</p>
	<% }else{ %>
	  <p>Status: <%= order.status %></p>
	  <% } %></p>
<p>Total: <%= order.total %></p>
<p>Date: <%= order.date.toLocaleDateString() %></p>


<h2>Product Details</h2>

<% order.products.forEach(product => { %>
  <div class="product-details">
    <h3><%= product.productName %></h3>
    <p>Quantity: <%= product.quantity %></p>
    <p>Price: <%= product.productPrice %></p>
    <p>Payment Method: <%= order.paymentMethod %></p>
  </div>
<% }); %>

<!-- Order Tracking Section -->
<div class="order-tracking-section">
	<div class="row">
		<div class="col-12 col-md-10 hh-grayBox mx-auto text-center pt45 pb20" style="width: 1140px;">
		  <h2 style="margin-bottom: 50px;">Order Tracking</h2>
		  <% if (order.status === 'Pending' && order.cancelled===false) { %>
			  <div class="row justify-content-between">
				  <div class="order-tracking completed">
					  <span class="is-complete"></span>
					  <p>Ordered<br></p>
				  </div>
				  <div class="order-tracking ">
					  <span class="is-complete"></span>
					  <p>Shipped<br></p>
				  </div>
				  <div class="order-tracking ">
					  <span class="is-complete"></span>
					  <p>Delivered<br></p>
				  </div>
			  </div>
		  <% } else if (order.status === 'Shipped' && order.cancelled===false ) { %>
			  <div class="row justify-content-between">
				  <div class="order-tracking completed">
					  <span class="is-complete"></span>
					  <p>Ordered<br></p>
				  </div>
				  <div class="order-tracking completed">
					  <span class="is-complete"></span>
					  <p>Shipped<br></p>
				  </div>
				  <div class="order-tracking ">
					  <span class="is-complete"></span>
					  <p>Delivered<br></p>
				  </div>
			  </div>
		  <% } else if (order.status === 'Delivered' && order.cancelled===false) { %>
			  <div class="row justify-content-between">
				  <div class="order-tracking completed">
					  <span class="is-complete"></span>
					  <p>Ordered<br></p>
				  </div>
				  <div class="order-tracking completed">
					  <span class="is-complete"></span>
					  <p>Shipped<br></p>
				  </div>
				  <div class="order-tracking completed">
					  <span class="is-complete"></span>
					  <p>Delivered<br></p>
				  </div>
			  </div>
		  <% }  else if (order.cancelled===true) { %>
			  <div class="row justify-content-between">
				  <div class="order-tracking completed cancelled" >
					  <span class="is-complete"></span>
					  <p>Ordered<br></p>
				  </div>
				  <div class="order-tracking completed cancelledd" >
					  <span class="is-complete"></span>
					  <p>Requested<br</p>
				  </div>
				  <div class="order-tracking completed cancelledd">
					  <span class="is-complete"></span>
					  <p>Cancelled<br></p>
				  </div>
			  </div>
		  <% }else { %>
			  <h2>NO order</h2>
		  <% } %>
		  
		</div>
	</div>
</div>

<!-- Order Actions Section -->
<div class="order-actions" style="margin-top: 20px;">
    <button class="btn btn-info" onclick="showAddressAlert('<%= order.address[0].name %>', '<%= order.address[0].number %>', '<%= order.address[0].house %>', '<%= order.address[0].street %>', '<%= order.address[0].city %>', '<%= order.address[0].state %>', '<%= order.address[0].country %>','<%= order.address[0].pincode %>' )" style="margin-bottom: 10px;">
        Show Address
    </button>
    
	<% if (!order.cancelled) { %>
		<% if (order.status !== 'Shipped' && order.status !== 'Delivered') { %>
			
			<button class="btn btn-danger" onclick="cancelOrder('<%= order._id %>', this)" style="margin-bottom: 10px;">
				<% if (order.cancelled) { %>
					Cancelled. Will be returned in 4 days.
				<% } else { %>
					Cancel Order
				<% } %>
			</button>
		<% } else if (order.status === 'Delivered') { %>
			<button class="btn btn-danger" onclick="returnOrder('<%= order._id %>', this)" style="margin-bottom: 10px;">
				<% if (order.returned) { %>

					Returned. Thank you for your feedback.
				<% } else { %>
					Return Order
				<% } %>
			</button>
		<% } else { %>
			<button class="btn btn-danger" disabled style="margin-bottom: 10px;">
				Order Shipped. Cannot Cancel.
			</button>
		<% } %>
	<% } else { %>
		<button class="btn btn-danger" onclick="cancelOrder('<%= order._id %>', this)" style="margin-bottom: 10px;">
			<% if (order.cancelled) { %>
				Cancelled. Will be returned in 4 days
			<% } else { %>
				Cancel Order
			<% } %>
		</button>
	<% } %>
</div>
</div>
<!-- End of file -->


  
                            
                       
        
                      

        <!-- Start Footer Section -->
		<footer class="footer-section" style="margin-top: 110px;">
			<div class="container relative">

				<div class="sofa-img">
					<img src="/static/sofa.png" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="/static/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Empire <span style="color: red;">Furniture</span></a></div>
						<p class="mb-4">our products are crafted with exceptional materials, ensuring durability and longevity. We take pride in offering modern interior design solutions that not only enhance the aesthetics of any space but also provide utmost comfort and functionality. </p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Delivery</a></li>
									<li><a href="#">Payment methods</a></li>
									<li><a href="#">Return & Exchange</a></li>
								</ul>
							</div>

						
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
   
    <script>
      function showAddressAlert(name, number, house, street, city, state, country, pincode) {
  const addressString = `
    Name: ${name}
    Number: ${number}
    House: ${house}
    Street: ${street}
    City: ${city}
    State: ${state}
    Country: ${country}
    Pincode: ${pincode}
  `;

  Swal.fire({
    title: 'Address',
    html: addressString,
  });
}

      const cancelledOrders = JSON.parse(localStorage.getItem('cancelledOrders')) || {};
  
      function cancelOrder(orderId, button) {
    console.log('Cancel Order function called');
        if (cancelledOrders[orderId]) {
          return;
        }
  
       
        Swal.fire({
          title: 'Reason for Cancellation',
          input: 'text',
          inputAttributes: {
            autocapitalize: 'off'
          },
          showCancelButton: true,
          confirmButtonText: 'Submit',
          showLoaderOnConfirm: true,
          preConfirm: (reason) => {
            if (reason.trim() === '') {
              Swal.showValidationMessage('Please enter a reason');
            }
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.isConfirmed) {
            const reason = result.value;
            const cancellationDate = new Date().toLocaleDateString();
            fetch(`/cancel-order/${orderId}`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ reason, cancellationDate }),
            })
              .then((response) => {
                if (response.ok) {
                  button.textContent = `Cancelled . Will be returned in 4 days.`;
                  button.classList.add('cancelled-button');
                  cancelledOrders[orderId] = cancellationDate;
                  localStorage.setItem('cancelledOrders', JSON.stringify(cancelledOrders));
                  console.log('Order successfully canceled');
                  location.reload()
                } else {
                  console.error('Error cancelling the order');
                }
              })
              .catch((error) => {
                console.error('Error cancelling the order:', error);
              });
          }
        });
      }
    </script>
    <script>
        const returnedOrders = JSON.parse(localStorage.getItem('returnedOrders')) || {};
      
        function returnOrder(orderId, button) {
          if (returnedOrders[orderId]) {
            return;
          }
      
          Swal.fire({
            title: 'Reason for Return',
            input: 'text',
            inputAttributes: {
              autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Submit',
            showLoaderOnConfirm: true,
            preConfirm: (reason) => {
              if (reason.trim() === '') {
                Swal.showValidationMessage('Please enter a reason');
              }
            },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((result) => {
            if (result.isConfirmed) {
              const reason = result.value;
              const returnDate = new Date().toLocaleDateString();
              fetch(`/returnOrder/${orderId}`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ reason, returnDate }),
              })
                .then((response) => {
                  if (response.ok) {
                    button.textContent = 'Returned. Thank you for your feedback.';
                    button.classList.add('returned-button');
                    returnedOrders[orderId] = returnDate;
                    localStorage.setItem('returnedOrders', JSON.stringify(returnedOrders));
                    console.log('Order successfully returned');
                  } else {
                    console.error('Error returning the order');
                  }
                })
                .catch((error) => {
                  console.error('Error returning the order:', error);
                });
            }
          });
        }
       
      </script>
      
    
	</body>

</html>