<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/tiny-slider.css" rel="stylesheet">
		<link href="/static/style2.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<title>Empire furniture </title>
        
        <style>
            .breadcrumb-option {
                background: #f8f8f8;
                padding: 30px 0;
            }
        
            .breadcrumb__text {
                text-align: center;
                color: #555;
            }
        
            .breadcrumb__links {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }
        
            .breadcrumb__links a {
                color: #555;
                text-decoration: none;
                margin: 0 10px;
            }
        
            .breadcrumb__links a:hover {
                color: #333;
            }
        
            .search-results {
                margin-top: 30px;
                text-align: center;
            }
        
            .search-results h5 {
                color: #333;
                font-size: 24px;
                font-weight: bold;
            }
        
            .search-results h2 {
                color: #e44d26;
                font-size: 36px;
                margin-top: 10px;
                margin-bottom: 30px;
            }
        
            .product-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        
            .product-item {
                margin-bottom: 30px;
                width: 300px;
            }
        
            .product__item__pic {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
            }
        
            .product__item__pic img {
                transition: transform 0.3s ease-in-out;
            }
        
            .product__item__pic:hover img {
                transform: scale(1.1);
            }
        
            .icon-list {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        
            .icon-list li {
                display: inline-block;
                margin-right: 10px;
                transition: transform 0.3s ease-in-out;
            }
        
            .icon-list li:hover {
                transform: scale(1.2);
            }
        
            .product__item__text {
                text-align: center;
            }
        
            .product__item__text h6 {
                margin-top: 10px;
                margin-bottom: 5px;
                font-size: 18px;
            }
        
            .product__item__text h5 {
                color: #e44d26;
                font-size: 24px;
                font-weight: bold;
            }
        </style>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
                <a class="navbar-brand" href="/home">Empire <span style="color: red;">Furniture</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
					
						<li><a class="nav-link" href="/services">Services</a></li>
						<li><a class="nav-link" href="/blog">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userinfo"><img src="/static/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="/static/cart.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->



<!-- Your existing HTML code -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-lg-12">
    <section class="shop__product">
        <div class="row" id="products-container">
            <% if (searchResults.length > 0) { %>
                <% searchResults.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-11">
                        <div class="product__item">
                            <div class="product" data-product-id="<%= product.product_id %>">
                                <a href="#">
                                    <div class="product__item__pic set-bg" data-setbg="/static/<%= product.productImage[0].filename %>">
                                        <a href="./shopdetails?id=<%= product._id %>">
                                            <img src="/static/<%= product.productImage[0].filename %>" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                                        </a>
                                        <ul class="icon-list" style="list-style: none; padding: 0; margin: 0;">
                                            <li style="display: inline-block; margin-right: 10px; transition: transform 0.3s ease-in-out;">
                                                <a>
                                                    <img src="/static/fav.png" alt="Heart icon" data-product-id="<%= product._id %>" class="wishlist-icon" data-product-name="<%= product.productName %>"
                                                    data-product-image="<%= product.productImage %>" data-product-price="<%= product.productPrice %>"
                                                    style="width: 30px; height: 30px; filter: grayscale(100%); margin-left: 50px;" onmouseover="this.style.filter='none';" onmouseout="this.style.filter='grayscale(100%)'">
                                                    
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="product__item__text" style="margin-right: 100px; margin-top: 20px; width: 100%;">
                                <h6><%= product.productName %></h6>
                                <p><%= product.productDescription %></p>
                                <h5>₹<%= product.productPrice %></h5>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No results found.</p>
            <% } %>
        </div>
    </section>
</div>

        	<!-- Start Footer Section -->
		<footer class="footer-section" style="margin-top: 120px;">
			<div class="container relative">

				<div class="sofa-img">
					<img src="/static/sofa.png" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="/static/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Empire <span style="color: red;">Furniture</span></a></div>
						<p class="mb-4">our products are crafted with exceptional materials, ensuring durability and longevity. We take pride in offering modern interior design solutions that not only enhance the aesthetics of any space but also provide utmost comfort and functionality. </p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Delivery</a></li>
									<li><a href="#">Payment methods</a></li>
									<li><a href="#">Return & Exchange</a></li>
								</ul>
							</div>

						
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
        const wishlistButtons = document.querySelectorAll('.wishlist-icon');
    
        wishlistButtons.forEach(button => {
            button.addEventListener('click', async function () {
                const productId = button.getAttribute('data-product-id');
                const userId = '<%= userId %>'; 
                const productName = button.getAttribute('data-product-name');
                const productImage = button.getAttribute('data-product-image');
                 const productPrice = button.getAttribute('data-product-price');
    
                if (!productId) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Product information is missing.'
                    });
                    return;
                }
    
                const data = {
                            productId,
                            userId,
                            productName,
                            productImage,
                            productPrice,
                        };
    
                  try {
                            const response = await fetch(`/wishlist/${productId}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                            });
            
                            if (response.ok) {
                                const result = await response.json();
                                if (result.message === 'Product added to the wishlist successfully.') {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success',
                                        text: 'Product added to the wishlist successfully.'
                                    });
                                } else if (result.message === 'Product is already in the wishlist.') {
                                    Swal.fire({
                                        icon: 'info',
                                        title: 'Info',
                                        text: 'Product is already in the wishlist.'
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: 'Failed to add the product to the wishlist. Server response: ' + result.message,
                                    });
                                }
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Failed to communicate with the server. Status: ' + response.status,
                                });
                            }
                        } catch (error) {
                    console.error('An error occurred:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again.'
                    });
                }
            });
        });
    });
    
    
    
        </script>
	</body>

</html>