<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.png">


  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/tiny-slider.css" rel="stylesheet">
		<link href="/static/style2.css" rel="stylesheet">
		<link href="/static/style4.css" rel="stylesheet">
		 <script src="path-to-elevate-zoom-js/jquery.elevateZoom-3.0.8.min.js"></script>
		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<title>Empire furniture</title>

		<style>
	

	.stylish-col {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}



.sort-label {
    margin-right: 10px;
    font-weight: bold;
}

.sort-select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.sort-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button:hover {
    background-color: #45a049;
}


			.custom-placeholder::placeholder {
            color: black;
        }
        .search-container {
            position: relative;
        }
        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
            color: black;
            cursor: pointer;
        }
.card-body {
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 150px; 
    cursor: pointer;
    outline: none;
}

.sort-select::after {
    content: '\25BC';
    font-size: 12px;
    color: #333;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.sort-button {
    padding: 10px 15px;
    background-color: #3b5d50;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.sort-button:hover {
    background-color: black;
}



		</style>
		
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/home">Empire <span style="color: red;">Furniture</span></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<form   class="d-flex search-container" action="/search" method="GET">
						
							<input class="form-control me-2 custom-placeholder" type="text" id="searchInput" name="query" placeholder="Search" style="border-radius: 50px; background-color: #3b5d50; color: black;">
							<i class="search-icon fas fa-search" onclick="redirectToSearch()"></i>
						</form>
						
						
						
						<li class="nav-item ">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li class="active"><a class="nav-link" href="/shop" >Shop</a></li>
						<li><a class="nav-link" href="/services">Services</a></li>
						<li><a class="nav-link" href="/blog">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userinfo"><img src="/static/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="/static/cart.svg"></a></li>
					</ul>
                    <div class="mt-2">
                        <!-- <% if (userId) { %>
							<form action="/logout" method="post" class="d-grid">
								<button type="submit" class="btn btn-warning" style="margin-left: 50px;">Logout</button>
							</form>
						<% } else { %>
							<form action="/login" method="post" class="d-grid">
								<button type="submit" class="btn btn-warning" style="margin-left: 50px;">Login</button>
							</form>
						<% } %> -->
                    </div>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
		<div class="hero">
			<div class="container overflow-hidden">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Modern Interior <span class="d-block">Design Studio</span></h1>
							<p class="mb-4">Discover the joy of interior design as you explore our diverse range of furniture, where you'll find the perfect combination of modern trends, all at your fingertips.</p>
							<p><a href="/shop" class="btn btn-secondary me-2">Shop Now</a></p>
						</div>
					</div>
					<div class="col-lg-7 col-md-6 col-sm-12 col-12">
						<div class="hero-img-wrap">
							<img src="/static/couch.png" class="img-fluid img-small" style="width: 100%;">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero Section -->

		<section class="shop spad">
			<div class="container" style="margin-bottom: 80px;">
				<div class="row justify-content-between">
					<!-- Category Section -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="shop__sidebar__accordion" id="sidebarAccordion">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-heading" id="sidebarToggle">
										<a style="color: white;">Categories</a>
									</div>
									<div id="collapseOne" class="collapse shop__sidebar__categories-container" data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__categories">
												<ul class="nice-scroll">
													<% for (let i = 0; i < categories.length; i++) { %>
														<li><a href="#" class="category-link" data-category="<%= categories[i].category %>"><%= categories[i].category %></a></li>
													<% } %>
												</ul>
											</div>
											<div id="category-content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		
					<!-- Sorting Section -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="card">
							<div class="card-heading" id="sortToggle" style="background-color: black;">
								<a style="color: white;">Sort by Price:</a>
							</div>
							<div id="sortCollapse" class="collapse shop__product__option__right stylish-sort-container" data-parent="#accordionExample">
								<div class="card-body">
									<select id="sortSelect" class="sort-select" style="border-radius: 20px;">
										<option value="lowToHigh">Low to High</option>
										<option value="highToLow">High to Low</option>
									</select>
									<button id="sortButton" class="sort-button mt-3">Apply</button>
								</div>
							</div>
						</div>
					</div>
			
				

	
								
			<div class="col-lg-12" style="margin-top: 30px;">
                <section class="shop__product">
                    <div class="row" id="products-container">
                        <% if (products.length > 0) { %>
                            <% products.forEach((product, index) => { %>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-11">
                                    <div class="product__item">
                                        <% if (productImages[index].length > 0) { %>
                                            <div class="product" data-product-id="<%= product.product_id %>">
                                                <a href="#">
                                                    <div class="product__item__pic set-bg" data-setbg="/static/<%= product.productImage[0].filename %>">
                                                        <a href="./shopdetails?id=<%= product._id %>">
                                                            <img src="/static/<%= product.productImage[0].filename %>" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                                                        </a>
                                                        <ul class="icon-list" style="list-style: none; padding: 0; margin: 0;">
                                                            <li style="display: inline-block; margin-right: 10px; transition: transform 0.3s ease-in-out;">
                                                                <a>
																	<img src="/static/fav.png" alt="Heart icon" data-product-id="<%= product._id %>" class="wishlist-icon"   data-product-name="<%= products[0].productName %>"
																	data-product-image="<%= products[0].productImage %>"
																   data-product-price="<%= products[0].productPrice %>"
																	style="width: 30px; height: 30px; filter: grayscale(100%); margin-left: 50px;" onmouseover="this.style.filter='none';" onmouseout="this.style.filter='grayscale(100%)'">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                        <div class="product__item__text" style="margin-right: 100px; margin-top: 20px; width: 100%;">
                                            <h6><%= product.productName %></h6>
                                            <p><%= product.productDescription %></p>
                                            <!-- <a class="add-cart" value="pr" data-product-id="<%= product._id %>" data-user-id="<%= userId %>">+ Add to Cart</a> -->
                                            <h5>₹<%= product.productPrice %></h5>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <p>No products available.</p>
                        <% } %>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

		<!-- Start Footer Section -->
		<footer class="footer-section" style="margin-top: 100px;">
			<div class="container relative">

				<div class="sofa-img">
					<img src="/static/sofa.png" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="/static/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Empire <span style="color: red;">Furniture</span></a></div>
						<p class="mb-4">our products are crafted with exceptional materials, ensuring durability and longevity. We take pride in offering modern interior design solutions that not only enhance the aesthetics of any space but also provide utmost comfort and functionality. </p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Delivery</a></li>
									<li><a href="#">Payment methods</a></li>
									<li><a href="#">Return & Exchange</a></li>
								</ul>
							</div>

						
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script>
    $(document).ready(function () {
        $("#sortToggle").click(function () {
            $("#sortCollapse").toggle();
        });
    });
</script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const categoriesContainer = document.querySelector('.shop__sidebar__categories-container');
			categoriesContainer.classList.add('collapse');
			document.getElementById('sidebarToggle').addEventListener('click', function () {
				categoriesContainer.classList.toggle('show');
			});
		});
		
	
	</script>
	<script>
	   document.addEventListener('DOMContentLoaded', function () {
		const addToCartButtons = document.querySelectorAll('.add-cart');
		const categoryLinks = document.querySelectorAll(".category-link");
		const sortSelect = document.getElementById('sortSelect');
		const sortButton = document.getElementById('sortButton'); 
		const productsContainer = document.getElementById("products-container");
	
			addToCartButtons.forEach(button => {
				button.addEventListener('click', async function () {
					const productId = button.getAttribute('data-product-id');
					const userId = button.getAttribute('data-user-id');
	
					if (!userId || !productId) {
						Swal.fire({
							icon: 'error',
							title: 'Error',
							text: 'User or product information is missing.'
						});
						return;
					}
	
					try {
						const response = await fetch(`/cart/${productId}`, {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
							},
						});
	
						if (response.ok) {
							const result = await response.json();
							if (result.message === 'Product added to the cart successfully.') {
								Swal.fire({
									icon: 'success',
									title: 'Success',
									text: 'Product added to the cart successfully.'
								});
							} else if (result.message === 'Product is already in the cart.') {
								Swal.fire({
									icon: 'info',
									title: 'Info',
									text: 'Product is already in the cart.'
								});
							} else {
								Swal.fire({
									icon: 'error',
									title: 'Error',
									text: 'Failed to add the product to the cart.'
								});
							}
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Error',
								text: 'Failed to communicate with the server.'
							});
						}
					} catch (error) {
						console.error('An error occurred:', error);
						Swal.fire({
							icon: 'error',
							title: 'Error',
							text: 'An error occurred. Please try again.'
						});
					}
				});
			});
			categoryLinks.forEach(link => {
			link.addEventListener("click", async function (event) {
				event.preventDefault();
				const selectedCategory = this.getAttribute("data-category");
	
				try {
					const response = await fetch(`/categorySelection/${selectedCategory}`);
					if (!response.ok) {
						throw new Error(`HTTP error! Status: ${response.status}`);
					}
	
					const categoryDetails = await response.json();
					renderProducts(categoryDetails.products);
				} catch (error) {
					console.error("Error fetching products:", error);
				}
			});
		});
	
	
	
		sortButton.addEventListener('click', function () { 
			const selectedOption = sortSelect.value;
			console.log('Selected Option:', selectedOption);
			fetchAndRenderSortedProducts(selectedOption);
		});
	
		sortSelect.addEventListener('change', function () {
			const selectedOption = sortSelect.value;
			console.log('Selected Option:', selectedOption);
		});
	
		async function fetchAndRenderSortedProducts(option) {
        try {
            const response = await fetch(`/sortProducts/${option}`);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const sortedProducts = await response.json();
            console.log('Sorted Products:', sortedProducts);
            renderProducts(sortedProducts);
        } catch (error) {
            console.error('Error fetching and displaying sorted products:', error);
        }
    }

    function renderProducts(products) {
        productsContainer.innerHTML = '';

        products.forEach(product => {
            const productElement = createProductElement(product);
            productsContainer.appendChild(productElement);
        });
    }
	
		
	
		function renderProducts(products) {
			productsContainer.innerHTML = '';
	
			products.forEach(product => {
				const productElement = createProductElement(product);
				productsContainer.appendChild(productElement);
			});
		}
	
	
	
	   
		function createProductElement(product) {
			const productElement = document.createElement("div");
			productElement.className = "col-lg-4 col-md-6 col-sm-6";
	
			productElement.innerHTML = `
			<div class="col-lg-12">
			<div class="product__item">
				<div class="product" data-product-id="${product.product_id}">
					<a href="#">
						<a href="./shopdetails?id=${product._id}"><img src="/static/${product.productImage[0].filename}" alt="${product.productName}" style="width: 100%; height: 300px; object-fit: cover;"></a>
						<ul class="icon-list" style=" list-style: none;padding: 0;margin: 0;">
												<li style=" display: inline-block;margin-right: 10px;transition: transform 0.3s ease-in-out;"><a href="#"><img src="/static/fav.png" alt="Heart icon" style="   width: 30px;height: 30px;filter: grayscale(100%);margin-left: 50px;" onmouseover="this.style.filter= 'none';"onmouseout="this.style.filter='grayscale(100%)'"></a></li>
						</ul>
					</div>
				</a>
			<div class="product__item__text" style="margin-right: 100px;margin-top: 20px;width:100%">
				<h6>${product.productName}</h6>
				<div class="rating">
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<h5>₹${product.productPrice}</h5>
				
			</div>
		</div>
		</div>
		`;
			return productElement;
		}

		
	});
	
	</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const wishlistButtons = document.querySelectorAll('.wishlist-icon');

        wishlistButtons.forEach(button => {
            button.addEventListener('click', async function () {
                const productId = button.getAttribute('data-product-id');
                const userId = '<%= userId %>';
                const productName = button.getAttribute('data-product-name');
                const productImage = button.getAttribute('data-product-image');
                const productPrice = button.getAttribute('data-product-price');

                if (!productId) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Product information is missing.'
                    });
                    return;
                }

                const data = {
                    productId,
                    userId,
                    productName,
                    productImage,
                    productPrice,
                };
				if (!userId) {
                window.location.href = '/login';
                return;
				}

                try {
                    const response = await fetch(`/wishlist/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    });

                    if (response.ok) {
                        const result = await response.json();
                        if (result.message === 'Product added to the wishlist successfully.') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Product added to the wishlist successfully.'
                            });
                        } else if (result.message === 'Product is already in the wishlist.') {
                            Swal.fire({
                                icon: 'info',
                                title: 'Info',
                                text: 'Product is already in the wishlist.'
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Failed to add the product to the wishlist. Server response: ' + result.message,
                            });
                        }
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to communicate with the server. Status: ' + response.status,
                        });
                    }
                } catch (error) {
                    console.error('An error occurred:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again.'
                    });
                }
            });
        });
    });
</script>

	<script>
		function redirectToSearch() {
			const searchInput = document.getElementById('searchInput');
			const query = searchInput.value.trim();
	
			if (query !== '') {
				const url = `/search?query=${encodeURIComponent(query)}`;
				window.location.href = url;
			}
		}
	</script>
	
	


</html>
